<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script defer src="script.js"></script>
</head>

<body>
    <div id="app">
        <header class="header wrapper">
            <input type="text" class="goods-search" v-model="searchLine">
            <button class="search-button" type="button" v-on:click="searchClickHandler">Поиск</button>
            <button class="cart-button" type="button" v-on:click="cartClickHandler">Корзина</button>
        </header>
        <main>
            <div class="goods-list wrapper">
                <div class="goods-item" v-for="good in filteredGoods">
                    <img src="http://dummyimage.com/150x200" alt="item">
                    <h3>{{ good.product_name }}</h3>
                    <p>Price: <span>{{ good.price }}</span> </p>
                    <button class="add-to-cart-button" type="button" v-on:click="addClickHandler(good)">
                        Добавить в корзину</button>
                </div>
                <div class="dummy wrapper" v-if="!filteredGoods.length">
                    <p>Нет данных</p>
                </div>
            </div>
            <div class="layover" v-if="isVisibleCart" v-on:click="cartCloseClickHandler">

            </div>
            <div class="cart" v-if="isVisibleCart">
                <h2>Корзина</h2>
                <button class="cart-close-button" v-on:click="cartCloseClickHandler">X</button>
                <div class="cart-item" v-for="item in cart">
                    <p><span>{{ item.product_name }}</span> Цена: ${{ item.price }}
                        Скидка: {{ item.discount }}% Стоимость: ${{ calcActualPrice(item) }}</p>
                </div>
                <div class="cart-total">
                    <h3>Итого: ${{ calcCartTotal() }}</h3>
                </div>
            </div>
        </main>
    </div>

</body>

</html>