<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: #20262e;
        padding: 20px;
        font-family: Helvetica;
      }

      #app {
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        transition: all 0.2s;
      }

      li {
        margin: 8px 0;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      del {
        color: rgba(0, 0, 0, 0.3);
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>Todos:</h2>
      <ol>
        
        <li v-for="todoCurrent in todos">
          <!-- HW: v-model="todo.done" -->
          <todo-list-item v-model="todoCurrent.done" :todo="todoCurrent" class="todo-list-item">
          </todo-list-item>
        </li>
      </ol>
    </div>

    <script>
      // 1 create
      // 2 register
      // 3 display
      // 4 link with other components

      Vue.component("todo-list-item", {
        props: {
          todo: {
            type: Object,
            required: true,
          },
        },

        template: `
          <label>
            <input
              type="checkbox"
              @change="toggle(todo)"
              :checked="todo.done"
            >

            <del v-if="todo.done">
              {{ todo.text }}
            </del>
            <span v-else>
              {{ todo.text }}
            </span>
          </label>`,

          methods: {
          toggle(todo) {
            todo.done = !todo.done;
          },
        },
        // data, computed, watch, methods ...
      });

      new Vue({
        el: "#app",

        data() {
          return {
            todos: [
              { text: "Learn JavaScript", done: false },
              { text: "Learn Vue", done: false },
              { text: "Play around in JSFiddle", done: true },
              { text: "Build something awesome", done: true },
            ],
          };
        },

      });
    </script>
  </body>
</html>
